{% extends "::base.html.twig" %}
{% set title = 'Archispace - Inscription' %}
{% set header = 'Archi<span>space</span>' %}

{% block body %}
    <section class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="custom-title login-title">Inscription réussie</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aspernatur impedit in iste libero necessitatibus neque, veritatis. Accusamus commodi consequuntur eos, facilis incidunt molestiae nam nemo quidem, rem, repudiandae unde.
                    </p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}