{% extends "::base.html.twig" %}
{% set title = 'Archispace - login' %}
{% set header = 'Archi<span>space</span>' %}

{% block body %}
    {{ include('@FOSUser/Security/login_content.html.twig') }}
{% endblock %}