<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Gestion demandeur
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Acceuil</a></li>
        <li><a href="#">Demande information</a></li>
        <li class="active">Gestion demandeur</li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-success">
                <div class="box-header">
                    <h3 class="box-title">Liste des demandes</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div id="example2_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                        <div class="row">
                            <div class="col-sm-12 text-center">
                                <button onclick="submitDemande()" data-toggle="modal" data-target="#modal-default"
                                        type="button" class="btn bg-purple margin"><i class="fa fa-plus margin"></i>
                                    Ajouter demande
                                </button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 text-center" style="margin-top: 30px">
                                <div class="form-group">
                                    <div class="input-group">
                                        <button type="button" class="btn btn-default pull-right" id="daterange-btn">
                                            <span>
                                              <i class="fa fa-calendar"></i> Sélectionnez la plage de dates
                                            </span>
                                            <i class="fa fa-caret-down"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" id="demandedate">
                        </div>
                    </div>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>

<div class="modal fade" id="modal-default">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Ajouter demande</h4>
            </div>
            <div id="adddemande"></div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>


{% block js %}
    <script type="text/javascript" src="{{ asset('Ipi/plugins/bootstrap-daterangepicker/daterangepicker.js') }}"></script>
    <script type="text/javascript" src="{{ asset('Ipi/plugins/moment/min/moment.min.js') }}"></script>
    <script>
        function table() {
            $('#example2').DataTable({
                "pageLength": 15,
                'paging': true,
                'lengthChange': false,
                'searching': true,
                'ordering': true,
                'info': true,
                'autoWidth': true,
                "language": {
                    "sEmptyTable": "Aucune donnée disponible dans le tableau",
                    "sInfo": "Affichage de l'élément _START_ à _END_ sur _TOTAL_ éléments",
                    "sInfoEmpty": "Affichage de l'élément 0 à 0 sur 0 élément",
                    "sInfoFiltered": "(filtré à partir de _MAX_ éléments au total)",
                    "sInfoPostFix": "",
                    "sInfoThousands": ",",
                    "sLengthMenu": "Afficher _MENU_ éléments",
                    "sLoadingRecords": "Chargement...",
                    "sProcessing": "Traitement...",
                    "sSearch": "Rechercher :",
                    "sZeroRecords": "Aucun élément correspondant trouvé",
                    "oPaginate": {
                        "sFirst": "Premier",
                        "sLast": "Dernier",
                        "sNext": "Suivant",
                        "sPrevious": "Précédent"
                    },
                    "oAria": {
                        "sSortAscending": ": activer pour trier la colonne par ordre croissant",
                        "sSortDescending": ": activer pour trier la colonne par ordre décroissant"
                    },
                    "select": {
                        "rows": {
                            "_": "%d lignes sélectionnées",
                            "0": "Aucune ligne sélectionnée",
                            "1": "1 ligne sélectionnée"
                        }
                    }
                }
            })
        };

        function submitForm(){
            $('.formDemande').submit();
        }

        function submitDemande() {
            $("#adddemande").html('<center><br><br><img src="../Ipi/dist/img/ajax-loader.gif" ><br><b>Patientez...</b><br><br><br></center>');
            $.ajax({
                url: 'bib/newdemande',
                type: 'POST',
                dataType: 'html',
                success: function (code_html, statut) {
                    $("#adddemande").html(code_html); // On passe code_html à jQuery() qui va nous créer l'arbre DOM !
                },
                error: function (resultat, statut, erreur) {
                },

                complete: function (resultat, statut) {
                }
            });
        }

        function submitDemandeDate(start, end) {
            $("#demandedate").html('<center><br><br><img src="../Ipi/dist/img/ajax-loader.gif" ><br><b>Patientez...</b><br><br><br></center>');
            $.ajax({
                url: 'bib/demandeur/date',
                type: 'POST',
                data: {
                    start : start,
                    end: end
                 },
                //dataType: 'html',
                success: function (code_html, statut) {
                    $("#demandedate").html(code_html);
                    table();
                },
                error: function (resultat, statut, erreur) {
                },

                complete: function (resultat, statut) {
                }
            });
        }


        let start1,end1;
        //Date range as a button
        $('#daterange-btn').daterangepicker(
            {
                ranges   : {
                    'Aujourd\'hui'       : [moment(), moment()],
                    'Hier'   : [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                    '7 derniers jours' : [moment().subtract(6, 'days'), moment()],
                    '30 derniers jours': [moment().subtract(29, 'days'), moment()],
                    'Ce mois-ci'  : [moment().startOf('month'), moment().endOf('month')],
                    'Le mois dernier'  : [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                },
                startDate: moment().subtract(29, 'days'),
                endDate  : moment()
            },
            function (start, end) {
                $('#daterange-btn span').html(start.format('MM D, YYYY') + ' - ' + end.format('MM D, YYYY'));
                    submitDemandeDate(start.format('YYYYMMDD'), end.format('YYYYMMDD'))
            },

        )

    </script>
{% endblock %}
