<div class="col-md-12">
    <div class="box box-warning">
        <div class="box-header">
            <div class="box-title">Resultat de recherche</div>
        </div>
        <div class="box-body">

        </div>
    </div>
</div>
